<a href="https://colab.research.google.com/github/17y2hedayeo/2020python/blob/master/2020_Python_Programming_Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 1**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under this repository

Share with edit access with computing@dhs.sg


For the following questions,

*   standard input: keyboard
*   standard output: screen

**Q1. (Converting Fahrenheit to Celsius)**

Write a program that reads a Fahrenheit degree as a float from standard input, then converts it to Celsius and displays the result in standard output. The formula for the conversion is:
```
celsius = (5/9) * (fahrenheit - 32)
```

In [4]:
farenheit = float(input("Key in a temperature in F: "))
celcius = (5/9) * (farenheit - 32)
print(f"{celcius:.1f}")

Key in a temperature in F: 50.0
10.00

**Q2. (Computing the volume of a cylinder)**

Write a program that reads in the radius and length of a cylinder and computes its volume using the formulae:
```
area = radius * radius * pi
volume = area * length
```

In [7]:
import math

radius = float(input("Enter radius: "))
length = float(input("Enter length: "))
area = radius ** 2 * math.pi
vol = area * length
print(f"{vol:.1f}")

Enter radius: 90
Enter length: 80.9
2058654.2

**Q3. (Converting miles into kilometers)**

Write a program that reads a number in miles, converts it to kilometres, and outputs the result. One mile is 1.60934 kilometres. Display your answer correct to 3 decimal places.

In [9]:
num = float(input("Enter miles: "))
kilometres = num * 1.60934
print(f"{kilometres:.2f}")

Enter miles: 5.049
8.1

**Q4. (Summing the digits in an integer)**

Write a program that reads an integer between 0 and 1000 and adds all the digits in the integer. For example, if an integer is 932, the sum of all its digits is 14.

Hint: Use the % operator to extract digits, and use the // operator to remove the extracted digit. For instance, 932 % 10 = 2 and 932 // 10 = 93

In [0]:
num = int(input()) for 0 <= num <= 1000

**Q5. (Converting an uppercase letter to lowercase)**

Write a program that converts an uppercase letter from standard input to a lowercase letter by making use of its ASCII value.

http://www.asciitable.com

In [14]:
upper = input("Enter uppercase letter: ")
lower = ord(upper) + 32 #ordinal
print(chr(lower))

Enter uppercase letter: Y
y

**Q6. (Finding the character of an ASCII code)**

Write a program that receives an ASCII value (an integer between 0 and 127) and displays its character. For example, if the user enters 97, the program displays character a.

http://www.asciitable.com

**Q7. (Payroll)**

Write a program that reads in the following information and prints a payroll statement. A sample input and output session is as follows:

Sample input:
```
Enter name: Lim Ah Seng
Enter number of hours worked weekly: 10
Enter hourly pay rate: 6.75
Enter CPF contribution rate(%): 20
```

Sample output:
```
Payroll statement for Lim Ah Seng
Number of hours worked in week: 10
Hourly pay rate: $6.75
Gross pay = $67.50
CPF contribution at 20% = $13.50
Net pay = $54.00
```