<a href="https://colab.research.google.com/github/killuen/2020python/blob/master/2020_Python_Programming_Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 2**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [0]:
n = int(input("Enter number: "))
if n % 2 == 0:
  print("{0} is even".format(n))
else:
  print("{0} is odd".format(n))

Enter number: 33
33 is odd

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [0]:
s1 = int(input("Enter side 1: "))
s2 = int(input("Enter side 2: "))
s3 = int(input("Enter side 3: "))
if (s1 + s2) > s3 and (s1 + s3) > s2 and (s2 + s3) > s1:
  print("Perimeter = {0}".format(s1 + s2 + s3))
else:
  print("Invalid triangle!")

Enter side 1: 2
Enter side 2: 2
Enter side 3: 3
Perimeter = 7

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [0]:
score = int(input("Enter score(0-100): "))

if 0 <= score <= 100:
  if 70 <= score <= 100:
    print("A")
  elif 60 <= score <= 69:
    print("B")
  elif 55 <= score <= 59:
    print("C")
  elif 50 <= score <= 54:
    print("D")
  elif 45 <= score <= 49:
    print("E")
  elif 35 <= score <= 44:
    print("S")
  else:
    print("U")
  if 45 <= score <= 100:
    print("Pass")
  else:
    print("Fail")
else:
  print("Invalid! Score must be within 0 - 100.")

Enter score(0-100): -100
Invalid! Score must be within 0 - 100.

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [0]:
n = int(input("Enter year: "))
if (n % 4 == 0) and (n % 100 != 0 or n % 400 == 0):
  print("Leap")
else:
  print("Non-Leap")

Enter year: 2400
Leap

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [0]:
m = int(input("Enter month: "))
y = int(input("Enter year: "))

months = ["", "January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
if m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10 or m == 12:
  print("{0} {1} has 31 days.".format(months[m], y))
elif m == 4 or m == 6 or m == 9 or m == 11:
  print("{0} {1} has 30 days".format(months[m], y))
elif m == 2:
  if (y % 4 == 0) and (y % 100 != 0 or y % 400 == 0):
    print("Febuary {0} has 29 days.".format(y))
  else:
    print("Febuary {0} has 28 days.".format(y))

Enter month: 4
Enter year: 2000
April 2000 has 30 days

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [0]:
print("Kilograms", "Pounds")
for i in range(1,11):
  print(i, "{0:.1f}".format(i * 2.2), sep=((10 - len(str(i)))*" "))

Kilograms Pounds
1         2.2
2         4.4
3         6.6
4         8.8
5         11.0
6         13.2
7         15.4
8         17.6
9         19.8
10        22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [0]:
print("Miles", "Kilometers", "Kilometres", "Miles", sep=4 * " ")
for i in range(1, 11):
  x = 15 + (i * 5)
  print("{:<8}".format(i), "{:<13}".format("{0:.3f}".format((i * 1.609))), "{:<13}".format(x), "{:<20}".format("{0:.3f}".format(x / 1.609)))

Miles    Kilometers    Kilometres    Miles
1        1.609         20            12.430
2        3.218         25            15.538
3        4.827         30            18.645
4        6.436         35            21.753
5        8.045         40            24.860
6        9.654         45            27.968
7        11.263        50            31.075
8        12.872        55            34.183
9        14.481        60            37.290
10       16.090        65            40.398

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [0]:
n = int(input())
list1 = []
list2 = []
if 1 <= n <= 5:
  for i in range(n):
    name = input("Enter name: ")
    score = int(input("Enter score: "))
    list1.append(name)
    list2.append(score)

list2, list1 = zip(*sorted(zip(list2, list1)))
print("The highest scoring student is {0} and the second highest scoring student is {1}.".format(list1[-1], list1[n-2]))

4
Enter name: t
Enter score: 9000
Enter name: yoo
Enter score: 30
Enter name: john
Enter score: 50
Enter name: evan
Enter score: 300
The highest scoring student is t and the second highest scoring student is evan

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [111]:
n = 1
while n ** 2 <= 12000:
  n += 1

print(n)

KeyboardInterrupt: ignored

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [0]:
n = 100
while n ** 3 <= 12000:
  n -= 1

print(n)

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, … d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [117]:
n1 = int(input("Enter n1: "))
n2 = int(input("Enter n2: "))
d = n1
if n1 > n2:
  d = n2
while n1 % d != 0 or n2 % d != 0:
  d -= 1

print("GCD: {0}".format(d))

Enter n1: 12
Enter n2: 18
GCD: 6

In [119]:
n1 = int(input("Enter n1: "))
n2 = int(input("Enter n2: "))
d = n1
if n1 > n2:
  d = n2
while not(n1 % d == 0 and n2 % d == 0):
  d -= 1
print(d)

SyntaxError: ignored

In [120]:
n1 = int(input("Enter n1: "))
n2 = int(input("Enter n2: "))
d = n1
if n1 > n2:
  d = n2
while True:
  if n1 % d == 0 and n2 % d == 0:
    break
  else:
    d -= 1
print(d)

Enter n1: 12
Enter n2: 18
6

**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [127]:
n = int(input("Enter n: "))
Factors = []
if n > 1:
  d = 2
  while n >= d:
    if n % d == 0:
      n /= d
      Factors.append(d)
    else:
      d += 1
print("Factors:", " ".join(str(i) for i in Factors))

Enter n: 120
Factors: 2 2 2 3 5